.character-con {
    width: 80%;
    padding: 0 10%;
}
.chara-item {
    width: calc((100% - 1.6rem) / 8);
    margin: 0 .1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}
.chara-item:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000066;
    top: 0;
    left: 0;
}
.chara-item .name {
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    color: #00F0FF;
}
.chara-item:hover .name {
    opacity: 1;
}
.thumbnail {
    width: 100%;
    height: auto;
}

/* 弹窗 */
.character-full {
    width: 30%;
    height: auto;
}
h4 {
    color: #bbf1fa;
    font-size: .18rem;
}
h5,
.character-basic,
.character-cv {
    color: #c7cfa3;
    font-size: .16rem;
}
.character-description p {
    font-size: .16rem;
    color: #e4dccf;
    margin-bottom: .1rem;
    line-height: 1.6;
}