.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - .6rem);
    height: 0;
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 100;
    pointer-events: none;
}

.nav-btn {
    pointer-events: auto;
}

.nav-left {
    width: 2.2rem;
    padding: .05rem;
    height: .5rem;
    border-radius: .25rem;
}

.nav-left2 {
    border-radius: .25rem;
    width: 2.2rem;
    height: .5rem;
    background: url(./Img/image.2h8u7pcwm4.webp) center top / auto 0.78rem no-repeat;
}

.nav-btn {
    border: 1px solid #00F0FF33;
    background: #00F0FF22;
    cursor: pointer;
    backdrop-filter: blur(4px);
    transition: all 0.3s;
    color: #00F0FF;
    user-select: none;
}

.nav-btn:hover {
    border: 1px solid #00F0FF66;
    background: #00F0FF44;
}

.nav-right {
    display: flex;
    align-items: flex-end;
    gap: 0.1rem;
}

.menu-btn {
    width: .5rem;
    height: .5rem;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .3rem;
    line-height: .5rem;
}

.icon {
    display: block;
    line-height: 1;
}

.nav-items {
    display: flex;
    gap: 0.1rem;
    align-items: flex-end;
}

.nav-item {
    width: 1.5rem;
    height: 0.5rem;
    border-radius: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.2rem;
    font-weight: bold;
}

.nav-slide-enter-active, .nav-slide-leave-active {
    transition: all 0.3s ease;
}
.nav-slide-enter, .nav-slide-leave-to {
    opacity: 0;
    transform: translateX(0.5rem);
}